<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add questions to survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Add questions to your survey</h1>
	
	<form action="#" th:action="@{/addquestion}" th:object= ${question} method="post">
	<p>Question text: <input type="text" th:field="${question.questionText}" /></p>
	
	<label for="surveylist">Survey</label>
			 <select id="surveylist" th:field="*{survey}" class="form-control">
       			<option th:each="survey: ${surveys}" th:value="${survey.surveyId}"
       			 th:text="${survey.surveyName}"></option>
    		</select>
	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>
	
</body>
</html>