<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Add survey</h1>

	<form action="#" th:action="@{/addsurvey}" th:object=${survey}
		method="post">
		<p>
			Name:
			<textarea type="text" th:field="${survey.surveyName}" /></textarea>
		</p>
		<p>
			Description:
			<textarea type="text" th:field="${survey.surveyDescription}"> </textarea>
		</p>
		<input type="submit" value="Submit" /> <input type="reset"
			value="Reset" />
	</form>

</body>
</html>