<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Add survey</h1>
	
	<form action="#" th:action="@{/addsurvey}" th:object= ${survey} method="post">
	<p>Name: <input type="text" th:field="${survey.surveyName}" /></p>
	<p>Description: <input type="text" th:field="${survey.surveyDescription}" /></p>
	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>

</body>
</html>