<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rest homepage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>REST Home page</h1>

	<h2>All surveys</h2>

	<p>
		Method: GET Endpoint:/<a href="/surveys">surveys</a>
	</p>

	<p>
		<strong>JSON example</strong>
		
		</p>

	<pre>
		<code>
		[
		{"surveyName":"SWD4TN022-3007",
		"surveyDescription":
		"Ohjelmistoprojekti 1 opintojakson kurssipalautekysely, kevät 2020.","surveyId":1,"questions":
		[{"questionId":2,"questionText":"Mitkä olivat tärkeimmät oppimistavoitteesi aloittaessasi opintojaksoa ja saavutitko ne?"},
		{"questionId":3,"questionText":"Mitkä ovat tärkeimmät opintojaksolla oppimasi taidot?"},
		{"questionId":4,"questionText":"Kerro kokemuksesti ryhmätyöskentelystä."},
		{"questionId":5,"questionText":"Mitä olisit voinut opintojaksolla tehdä toisin?"},
		{"questionId":6,"questionText":"Mitä hyvää opintojaksossa oli?"},
		{"questionId":7,"questionText":"Miten kehittäisit opintojaksoa?"}]}
		]
</code>
	</pre>

	<h2>Survey by Id</h2>

	<p>
		Method: GET Endpoint:<a href="/surveys/1">/surveys/1</a>
	</p>

	<p>
		<strong>JSON example</strong>
	</p>

	<pre>
		<code>[
  {
    
  }
]</code>
	</pre>

	<h2>New Survey</h2>

	<p>
		Method: POST Endpoint:<a href="/surveys">/surveys</a>
	</p>

	<p>
		<strong>JSON example</strong>
	</p>

	<pre>
		<code>[
  {
    
  }
]</code>
	</pre>


</body>
</html>